{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="display-4 brand-font-alt text-shadow text-center my-5">ADD A REVIEW</h2>
                <p class="alt-text-muted h5">Share your experience of using the products with your fellow K-Beauty enthusiasts</p>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}