{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" property="og:description"
        content="For Authorized Personnel Only. Your opinions on K-Beauty products are important to our community of skin enthusiasts.
    We only edit reviews for profane terms.">
    <meta name="keywords"
        content="K-beauty, effective k-beauty products, k-beauty product reviews, k-beauty skincare, affordable k-beauty products">

    {% comment %} Essential Meta Tags for Social Media - Facebook {% endcomment %}
    <meta property="og:title" content="Edit review | Shop K-Beauty">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{% static 'images/shop-k-beauty-site-image.png' %}">
    <meta property="og:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">
    <meta property="og:url" content="https://shop-k-beauty-django-joy-zadan.herokuapp.com/reviews/edit_review/">
    <meta name=robots content="noindex, nofollow">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description"
        content="For Authorized Personnel Only. Your opinions on K-Beauty products are important to our community of skin enthusiasts.
    We only edit reviews for profane terms.">
    <meta property="og:site_name" content="Edit Review | Shop K-Beauty">
    <meta name="twitter:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">

    {% comment %} Non-Essential but Required for Analytics {% endcomment %}
    <meta property="fb:app_id" content="1004587674262621">
{% endblock %}

{% block extra_title %}Edit Review | {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- EDIT REVIEW FORM  -->
    <div class="container mb-5">
        <h2 class="display-5 brand-font-alt text-center my-5">Edit a review</h2>
        <hr>
        <!-- Edit product review column -->
        <div class="row">
            <div class="col">
                <!-- Edit review form  -->
                <form method="POST" action="{% url 'edit_review' review.id %}" id="edit-review-form">
                    {% csrf_token %}
                    {{ review_form|crispy }}
                    <!-- Cancel review link -->
                    <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1 mb-3">
                        <span class="text-uppercase">Cancel</span>
                    </a>
                    <!-- Submit review button -->
                    <button class="btn btn-outline-black rounded-0 mt-1 mb-3 text-uppercase" type="submit">
                        Done editing
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}