{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Heading -->
    <div class="container mb-5">
        <h2 class="display-5 brand-font-alt text-shadow text-center pt-2 my-5">
            All available reviews for {{ product.name }}
        </h2>
        <hr>

        <!-- All Available Reviews -->
        {% if reviews %}
        <div class="row">
            {% for review in reviews %}
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title brand-font-alt h6">{{ review.title }}</h3>
                        <small class="text-muted p-0">{{ review.user }}</small>
                        <small class="text-muted p-0 float-right">{{ review.date }}</small>
                        <p class="card-text">{{ review.content }}</p>
                    </div>
                    <div class="card-footer">
                        <p class="">
                            Have you used {{ product.name }} before?
                        </p>
                        <a href="{% url 'add_review' product.id %}" class="btn btn-sm btn-brand rounded-0 text-shadow">
                            Share your experience!
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="col">
            <p>No reviews available for this product yet.</p>
            <p class="alt-text-muted h5">Share your experience of using the products with your fellow K-Beauty enthusiasts</p>
        </div>
        {% endif %}

    </div>

{% endblock %}