{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h2 class="display-4 brand-font-alt text-shadow text-center my-5">Product Review</h2>
        <p class="alt-text-muted h5">Thanks for sharing your review!</p>
        <hr>
        <div>
            <!-- Review details  -->
            <h4><strong>{{ review.title }}</strong></h4>
            <p>{{ review.product }}</p>
            <p>{{ review.content }}</p>
            <p>Created by: {{ review.user }}</p>
            <p>{{ review.date }}</p>
            {% if request.user.is_superuser %}
                <!-- See Reviews and Add Review links as buttons -->
                <!-- Cancel review link -->
                <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1">
                    <span class="text-uppercase">Edit</span>
                </a>
                <!-- Submit review button -->
                <button class="btn btn-outline-black rounded-0 mt-1 text-uppercase" type="submit">
                    Delete
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                </button>
            {% endif %}
        </div>
    <!-- Continue Shopping link -->
        <a href="{% url 'products' %}" class="btn btn-brand rounded-0 mt-3 text-shadow">
            <span class="icon">
                <i class="fas fa-shopping-bag"></i>
            </span>
        <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
{% endblock %}