{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="display-5 brand-font-alt text-center my-5">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "bag/bag_total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "bag/checkout_buttons.html" %}
                            <p class="alt-text-muted mb-5 mt-1">A summary of your bag contents is below</p>
                        </div>
                    </div>
                    {% for item in bag_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "bag/product_image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "bag/product_info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            <p class="my-0">Price Each: £{{ item.product.price }}</p>
                            <p><strong>Subtotal: </strong>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "bag/quantity_form.html" %}
                        </div>
                    </div>
                    <div class="row"><div class="col"><hr></div></div>
                    {% endfor %}
                    <div class="btt-button shadow-sm rounded-0 border border-warning">
                        <a class="btt-link d-flex h-100">
                            <i class="fas fa-arrow-up text-warning text-decoration-none mx-auto my-auto"></i>
                        </a>
                    </div>
                </div>
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% include "bag/product_image.html" %}
                            </td>
                            <td class="py-3">
                                {% include "bag/product_info.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">£{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                {% include "bag/quantity_form.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                {% include "bag/bag_total.html" %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                {% include "bag/checkout_buttons.html" %}
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <div class="mb-4">
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Back to top button -->
    <div class="btt-button shadow-sm rounded-0 border border-warning">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-warning text-decoration-none mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}
{% include 'bag/includes/quantity_update_remove_script.html' %}
{% include 'bag/includes/scroll_to_top_script.html' %}

{% endblock %}