{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="home-hero container-fluid">
        <div class="row hero-heading">
            <div class="col-7 col-md-6 mt-5 pl-5">
                <h1 class="display-4 logo-font text-white text-shadow">
                    New arrivals!
                </h1>
                <h2 class="display-4 logo-font text-black" id="home-cta-font">
                    Latest <span class="nowrap">K-Beauty</span> collections just landed!
                </h2>
                <div class="my-5">
                    <p class="text-shadow h-4">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-large rounded-0 text-upppercase py-3">Shop Now</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Featured Products -->
    <h2 class="display-4 brand-font-alt text-shadow text-center pt-2 my-5">
        Featured Products
    </h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mx-5 mb-5">
        {% for product in products %}
            {% if product.is_featured %}
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title brand-font-alt h6 text-center">{{ product.name }}</h3>
                    </div>
                    <div class="card-footer text-center">
                        <div class="price-box">
                            <p class="mb-0 pb-1"><span class="text-left alt-text-muted brand-font">£{{ product.price }}</span></p>
                            {% if product.discount > 0.01 %}
                            <p class="mb-0 text-muted"><s>£{{ product.original_price }}</s></p>
                            <p class="mb-0 text-center"><span class="text-danger alt-text-muted">You save: </span> £{{ product.discount }}</p>
                            {% endif %}
                        </div>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-black text-shadow mt-1 rounded-0">
                            <span class="text-uppercase">Shop Now</span>
                            <span class="icon">
                                <i class="fas fa-shopping-bag"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Featured Brands -->
    <h2 class="display-4 brand-font-alt text-shadow text-center my-5">
        Featured Brands
    </h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mx-5 mb-5">
        {% for brand in brands %}
            {% if brand.is_featured %}
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="{% url 'brand_detail' brand.id %}">
                        <img class="card-img-top img-fluid" src="{{ brand.image.url }}" alt="{{ brand.name }}">
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- WORK IN PROGRESS -->
    <!-- Show/ Hide All Brands -->

    <div class="col-12 mt-2 text-center mb-5">
        <!-- Show/ Hide All Brands -->
        <div class="mb-3">
            <button class="btn btn-black rounded-0 text-uppercase mt-1 mb-3" id="view">
                <span class="text-uppercase">See All Brands</span>
                <span class="icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </button>
            <p class="all-brands">Test</p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mx-5 mb-5">
            {% for brand in brands %}
            <div class="col mb-4">
                <div class="card h-100">
                    <p class="mb-0 py-2">
                        <span class="brand-font-alt h6 pb-3 brand-name-link">
                            <a href="{% url 'brand_detail' brand.id %}" class="brand-name-link">{{ brand.friendly_name }}</a>
                        </span>
                    </p>
                    <ul>
                        <li data-brand-name="{{ brand.friendly_name }}" data-brand-desc="{{ brand.description }}">{{ brand.friendly_name }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- testing new way to communicate with server via json response -->
        <div class="row my-5">
            <div class="col-12 col-lg-6 offset-lg-2">
                <!-- {% for brand in brands %}
                <button class="btn btn-black rounded-0 text-uppercase mt-1 mb-3" data-brand-name="{{ brand.friendly_name }}">
                    <span class="text-uppercase">See All Brands</span>
                    <span class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </button>
                {% endfor %} -->

                <ul >
                    <!-- List of brand goes here -->
                    {% for brand in brands %}
                        <li data-brand-name="{{ brand.friendly_name }}" data-brand-desc="{{ brand.description }}">{{ brand.friendly_name }}</li>
                    {% endfor %}
                </ul>

                <div id="brand-list"></div>
            </div>
        </div>
    </div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
//     $(document).ready(function() {
//     $.ajax({
//         url: '/brand_list/',
//         type: 'GET',
//         dataType: 'json',
//     }).done(function(response) {
//         for (var i in response.brands) {
//             var brand = `<span>${response.brands[i].name}</span>`
//             var item = `<li class ="list-group-item d-flex justify-content-between">
//                 ${brand.name}`
//         $('list-group').append(item)
//         }
//         console.log(response)
//     })
// });

    let elements = document.querySelectorAll('li');
    let container = document.getElementById('brand-list');
    elements.forEach( element => {
        element.addEventListener('click', function() {
            removeContainerChildren(container)
            addBrandList(container, element)
        })
    })

    function addBrandList(container, brandElement) {
        let data = brandElement.dataset
        console.log(data.brandName)

        // add the name of the brand
        let nameElement = document.createElement('h3')
        let nameText = document.createTextNode(data.brandName)
        nameElement.appendChild(nameText)

        // add the description of the brand
        let descElement = document.createElement('p')
        let descText = document.createTextNode(data.brandDesc)
        descElement.appendChild(descText)

        container.append(nameElement, descElement)
    }

    // remove name and description of the brand
    function removeContainerChildren(container) {
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }
    }

</script>


{% endblock %}