{% extends "base.html" %}
{% load static %}

block extra_meta %}
    <meta name="description" property="og:description" content="Here's everything you need to know about your Order Cancellation Rights,
    Conditions for Returns, Goods Marked as Gifts and how to contact Shop K-Beauty. ">
    <meta name="keywords" content="Shop K-Beauty, K-beauty, return and refund policy, skincare products, hair & body products">

    {% comment %} Essential Meta Tags for Social Media - Facebook {% endcomment %}
    <meta property="og:title" content="Return and Refund | Shop K-Beauty">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{% static 'images/shop-k-beauty-site-image.png' %}">
    <meta property="og:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">
    <meta property="og:url" content="https://shop-k-beauty-django-joy-zadan.herokuapp.com/return_and_refund_policy/">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description" content="Here's everything you need to know about your Order Cancellation Rights, Conditions for Returns,
    Goods Marked as Gifts and how to contact Shop K-Beauty. ">
    <meta property="og:site_name" content="Return and Refund | Shop K-Beauty">
    <meta name="twitter:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">

    {% comment %} Non-Essential but Required for Analytics {% endcomment %}
    <meta property="fb:app_id" content="1004587674262621">
{% endblock %}

{% block extra_title %}Return and Refund |{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h2 class="display-5 brand-font-alt text-center my-5">Return & Refund Policy</h2>
        <p class="ml-3">Last updated: December 17, 2022</p>
        <hr>
        <div class="row mx-3 mt-2">
            <p>Thank you for shopping at Shop K-Beauty.</p>
            <p>
                If, for any reason, You are not completely satisfied with a purchase We invite You to review our policy
                on refunds and returns. This Return and Refund Policy has been created with the help of the
                <a href="https://www.termsfeed.com/return-refund-policy-generator/" target="_blank" rel="external nofollow noopener">
                    TermsFeed Return and Refund Policy Generator
                </a>.
            </p>
            <p>The following terms are applicable for any products that You purchased with Us.</p>
            <div>
                <h2>Interpretation and Definitions</h2>
                <h3>Interpretation</h3>
                <p>The words of which the initial letter is capitalized have meanings defined under the following
                    conditions. The following definitions shall have the same meaning regardless of whether they appear in
                    singular or in plural.</p>
                <h2>Definitions</h2>
                <p>For the purposes of this Return and Refund Policy:</p>
                <ul class="ml-3">
                    <li>
                        <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;,
                            &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to Shop K-Beauty.</p>
                    </li>
                    <li>
                        <p><strong>Goods</strong> refer to the items offered for sale on the Service.</p>
                    </li>
                    <li>
                        <p><strong>Orders</strong> mean a request by You to purchase Goods from Us.</p>
                    </li>
                    <li>
                        <p><strong>Service</strong> refers to the Website.</p>
                    </li>
                    <li>
                        <p><strong>Website</strong> refers to Shop K-Beauty, accessible from
                            <a href="https://shop-k-beauty-django-joy-zadan.herokuapp.com/">
                                https://shop-k-beauty-django-joy-zadan.herokuapp.com/
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>You</strong> means the individual accessing or using the Service, or the company, or
                            other legal entity on behalf of which such individual is accessing or using the Service, as
                            applicable.
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <h2>Your Order Cancellation Rights</h2>
                <p>You are entitled to cancel Your Order within 30 days without giving any reason for doing so.</p>
                <p>
                    The deadline for cancelling an Order is 30 days from the date on which You received the Goods or on which
                    a third party you have appointed, who is not the carrier, takes possession of the product delivered.
                </p>
                <p>
                    In order to exercise Your right of cancellation, You must inform Us of your decision by means of a clear
                    statement. You can inform us of your decision by:
                </p>
                <ul class="ml-3">
                    <li>
                        By visiting this page on our website:
                            <a href="https://shop-k-beauty-django-joy-zadan.herokuapp.com/">
                                https://shop-k-beauty-django-joy-zadan.herokuapp.com/
                            </a>
                    </li>
                </ul>
                <p>
                    We will reimburse You no later than 14 days from the day on which We receive the returned Goods. We will
                    use the same means of payment as You used for the Order, and You will not incur any fees for such
                    reimbursement.
                </p>
            </div>
            <div>
                <h2>Conditions for Returns</h2>
                <p>In order for the Goods to be eligible for a return, please make sure that:</p>
                <ul class="ml-3">
                    <li>The Goods were purchased in the last 30 days</li>
                    <li>The Goods are in the original packaging</li>
                </ul>
                <p>The following Goods cannot be returned:</p>
                <ul class="ml-3">
                    <li>The supply of Goods made to Your specifications or clearly personalized.</li>
                    <li>The supply of Goods which according to their nature are not suitable to be returned, deteriorate
                        rapidly or where the date of expiry is over.</li>
                    <li>The supply of Goods which are not suitable for return due to health protection or hygiene reasons
                        and were unsealed after delivery.</li>
                    <li>The supply of Goods which are, after delivery, according to their nature, inseparably mixed with
                        other items.</li>
                </ul>
                <p>We reserve the right to refuse returns of any merchandise that does not meet the above return conditions
                    in our sole discretion.</p>
                <p>Only regular priced Goods may be refunded. Unfortunately, Goods on sale cannot be refunded. This
                    exclusion may not apply to You if it is not permitted by applicable law.</p>
            </div>
            <div>
                <h2>Returning Goods</h2>
                <p>You are responsible for the cost and risk of returning the Goods to Us. You should send the Goods at the
                    following address:</p>
                <p>123 Shop Street, London, EC2B 2BU, UK</p>
                <p>
                    We cannot be held responsible for Goods damaged or lost in return shipment. Therefore, We recommend an
                    insured and trackable mail service. We are unable to issue a refund without actual receipt of the Goods
                    or proof of received return delivery.
                </p>
            </div>
            <div>
                <h2>Gifts</h2>
                <p>
                    If the Goods were marked as a gift when purchased and then shipped directly to you, You'll receive a gift
                    credit for the value of your return. Once the returned product is received, a gift certificate will be
                    mailed to You.
                </p>
                <p>
                    If the Goods weren't marked as a gift when purchased, or the gift giver had the Order shipped to
                    themselves to give it to You later, We will send the refund to the gift giver.
                </p>
                <h2>Contact Us</h2>
                <p>If you have any questions about our Returns and Refunds Policy, please contact us:</p>
                <ul class="ml-3">
                    <li>By visiting this page on our website:
                        <a href="https://shop-k-beauty-django-joy-zadan.herokuapp.com/">
                            https://shop-k-beauty-django-joy-zadan.herokuapp.com/
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}