{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h2 class="display-5 brand-font-alt text-shadow text-center my-5">Shipping Policy</h2>
        <p>Last updated: December 17, 2022</p>
        <hr>
        <div class="row mx-3 mt-2">
            <p>
                Thank you for visiting and shopping at Shop K-Beauty. Following are the terms and
                conditions that constitute our Shipping Policy.
            </p>
            <h3>Domestic Shipping Policy</h3>
            <h4>Shipment processing time</h4>
            <p>
                All orders are processed within 3-10 business days. Orders are not shipped or delivered on
                weekends or holidays.
            </p>
            <p>
                If we are experiencing a high volume of orders, shipments may be delayed by a few days. Please
                allow additional days in transit for delivery. If there will be a significant delay in shipment of your
                order, we will contact you via email or telephone.
            </p>
            <h4>Shipping rates and delivery estimates</h4>
            <p>Shipping charges for your order will be calculated and displayed at checkout.</p>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Shipment Method</th>
                        <th scope="col">Estimated Delivery Time</th>
                        <th scope="col">Shipment Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>FedEx Standard</td>
                        <td>3-5 business days</td>
                        <td>Free for orders over £50.00</td>
                    </tr>
                    <tr>
                        <td>FedEx Two Days</td>
                        <td>2 business days</td>
                        <td>£12.95</td>
                    </tr>
                    <tr>
                        <td>FedEx Overnight*</td>
                        <td>1-2 business days</td>
                        <td>£19.95</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <small>
                    <em>Overnight delivery is only available for orders with delivery addresses within the United Kingdom</em>
                </small>
            </p>
            <p>Delivery delays can occasionally occur.</p>

        </div>
    </div>
{% endblock %}
