{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" property="og:description" content="What is K-Beauty? Here's everything you need to know. Discover great K-Beauty products,
    skincare routines and tips from people we love here at Shop K-Beauty!">
    <meta name="keywords" content="Shop K-Beauty, K-Beauty, skincare, hair & body products, skincare routine, serums, ampoules, glass skin,
    essence, sunscreen, younger-looking skin">

    {% comment %} Essential Meta Tags for Social Media - Facebook {% endcomment %}
    <meta property="og:title" content="K-Beauty Tips | Shop K-Beauty">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{% static 'images/shop-k-beauty-skincare-tips.png' %}">
    <meta property="og:image:alt"
        content="Shop K-Beauty skincare tips shown on a variety of screen sizes and devices, from laptops to tablets to mobiles">
    <meta property="og:url" content="https://shop-k-beauty-django-joy-zadan.herokuapp.com/skincare_tips/">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description" content="What is K-Beauty? Here's everything you need to know. Discover great K-Beauty products,
    skincare routines and tips from people we love here at Shop K-Beauty!">
    <meta property="og:site_name" content="K-Beauty Tips | Shop K-Beauty">
    <meta name="twitter:image:alt"
        content="Shop K-Beauty skincare tips shown on a variety of screen sizes and devices, from laptops to tablets to mobiles">

    {% comment %} Non-Essential but Required for Analytics {% endcomment %}
    <meta property="fb:app_id" content="1004587674262621">
{% endblock %}

{% block extra_title %}K-Beauty Tips |{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid tips-hero">
        <div class="row hero-heading">
            <div class="col-10 offset-1 text-center tips-margin animate-it">
                <h2 class="display-4 text-purple mt-5 font-weight-bold">
                    <i class="far fa-star"></i> K-Beauty Skincare Tips
                </h2>
                <p class="display-4 text-purple mt-2 mb-5">
                    from people we love!
                </p>
            </div>
        </div>
    </div>
    <!-- Introduction to K-Beauty -->
    <div class="container mt-3 mb-2">
        <div class="row mx-3">
            <div class="col-12">
                <h2 class="display-5 text-black text-center mt-5 mb-3">What is K-Beauty? Here's everything you need to know</h2>
                <h3 class="h4 text-center">
                    <em>From sleeping packs to treatment ampoules, we're here to demystify the world of K-Beauty (that's Korean beauty to you and me).</em>
                </h3>
                <p class="text-center mt-1"><strong>Sources:</strong>
                    <a href="https://www.elle.com/uk/beauty/skin/a25415/k-beauty-what-is-it-korean-beauty-10-step-beauty-cleansing-skincare/"
                        class="text-decoration-none text-purple font-weight-bold" target="_blank" rel="noopener" aria-label="link to Elle.com">
                        <em>Elle.com</em>,
                    </a>
                    <a href="https://www.nbcnews.com/select/shopping/best-korean-beauty-products-ncna1274400"
                        class="text-decoration-none text-purple font-weight-bold" target="_blank" rel="noopener" aria-label="link to NBCNews.com">
                        <em>NBC News</em>,
                    </a>
                    <a href="https://www.dermacaredirect.co.uk/advice/what-is-k-beauty/"
                        class="text-decoration-none text-purple font-weight-bold" target="_blank" rel="noopener" aria-label="link to Dermacaredirect.co.uk">
                        <em>Dermacare Direct</em>,
                    </a>
                    <a href="https://weheartthis.com/what-is-k-beauty/"
                        class="text-decoration-none text-purple font-weight-bold" target="_blank" rel="noopener" aria-label="link to Weheartthis.com">
                        <em>We Heart This</em>
                    </a>
                </p>
                <p class="mt-5">
                    Essentially a name to categorise the Korean influence upon our own skincare routines and the epic product imports from the country itself,
                    K-Beauty is the secret to looking as luminous as is humanly possible.
                </p>
                <p class="mt-3">
                    Korean women are notoriously obsessed with achieving a flawless finish and tend to view caring for their complexion as the ultimate investment.
                    Presented in a fun and eye-catching packaging and affordably priced too; the skincare products have been around for a long time but only recently
                    become better known as it was introduced to other parts of the world like Asia, UK and the USA plus it has become more easily accessible to get
                    your hands on over the years.
                </p>
                <p class="mt-3">
                    K-Beauty involves simple skincare steps to focus on helping you achieve good health; hydration and brightening effects to then create a super youthful
                    and gorgeous complexion with or without make-up - sometimes known as <strong>Glass Skin</strong> on social media. Here in the UK, we do love the magic
                    of make-up and the instant results that it can give us, but when it comes to Korean Beauty it is all about taking the time to carve long-lasting results
                    and a beautiful canvas with or without make-up.
                </p>
                <p class="mt-3">
                    While K-Beauty is no longer a new concept to us, its typically kitschy aesthetic kept it confined to teenage beauty cabinets for a few years.
                    But now, Korean skincare has truly come of age, with the likes of <strong>Cult Beauty</strong>, <strong>Net-A-Porter</strong> and <strong>Selfridges</strong>
                    now offering a selection of sophisticated Korean lines that will appeal to the skintellectual as well as the K-Beauty obsessive.
                </p>
                <h4 class="display-6 text-center mt-5 font-weight-bold">
                    The Korean 10-Step Beauty Routine
                </h4>
                <p class="mt-3">
                    There are 10 steps when creating a full K-Beauty routine, which may seem a little excessive compared to our current skincare routines right now however
                    you have the option to pick and choose the steps you want to incorporate into your routine and trust us when we say, this routine is the go-to for creating
                    a complexion which continues to look better and better over time...
                </p>
            </div>
        </div>
    </div>
    <!-- 10 Steps K-Beauty Routine -->
    <div class="mb-2 mx-extra">
        <div class="card-columns">
            <div class="card card-alt beige-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold">Step One - Oil-Based Cleanser:</p>
                    <p class="card-text mb-1">
                        The first step of the routine is to cleanse your skin and the delicate eye area with an oil cleanser. Oil has been proven to be
                        very effective when it comes to easily break down oil-based impurities and all kinds of make-up (even waterproof!).
                    </p>
                </div>
            </div>
            <div class="card card-alt light-blue-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold">Step Two - Water-Based Cleanser:</p>
                    <p class="card-text mb-1">
                        Cleanse again! Double cleansing is a super important stage in any routine and even more so in a K-Beauty one. The second cleanse,
                        using either water or foam-based cleanser, helps to remove sweat and general dirt. It is important to use a pH-balanced cleanser
                        to avoid disputing your skin barrier too.
                    </p>
                </div>
            </div>
            <div class="card card-alt dark-pink-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 text-white font-weight-bold">Step Three - Exfoliator:</p>
                    <p class="card-text text-white mb-1">
                        Use an exfoliator a few times a week to slough away dead skin cells and reveal brighter, more radiant skin.
                    </p>
                </div>
            </div>
            <div class="card card-alt border-glow">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold">Step Four - Toner:</p>
                    <p class="card-text mb-1">
                        Toners have been around for many years, the majority of people still swear by the traditional <strong>cleanse, tone, moisturise</strong>
                        but what does it actually do? Toners help to prepare the skin for the next steps in your routine, rebalance it and provides the complexion
                        with a beautiful glow. Ultra sensitive skin should opt for unscented toners to prevent the chance of any irritation.
                    </p>
                </div>
            </div>
            <div class="card card-alt green-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold text-white">Step Five - Essence:</p>
                    <p class="card-text mb-1 text-white">
                        Halfway between a hydrating toner and a serum and of course originating from South Korea, essences are the new kid on the block but have risen
                        in popularity within the past few years along with Korean Beauty. They are absolutely vital in a K-Beauty routine as they soothe the skin
                        while also healing it at the same time.
                    </p>
                </div>
            </div>
            <div class="card card-alt midnight-blue-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold text-white">Step Six - Serum:</p>
                    <p class="card-text mb-1 text-white">
                        Hydrate your skin further with the use of the ingredient Hyaluronic Acid within Klairs Rich Moist Soothing Serum - known for its ultra-hydrating properties
                        and ability to retain over 1000 times its own weight in water - you can expect plump and youthful-looking skin immediately. It's like a drink of water for
                        your skin.
                    </p>
                </div>
            </div>
            <div class="card card-alt light-pink-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold text-black">Step Seven - Sheet Mask:</p>
                    <p class="card-text mb-1 text-black">
                        This next step has also taken the industry and social media by storm and again - it originates from South Korea! Sheet masks are soaked in serum
                        to further lock in moisture and are packed with beneficial vitamins and minerals. They are brilliant for a quick boost of hydration. Depending on your skin's needs,
                        you can use a sheet mask daily or a few times a week.
                    </p>
                </div>
            </div>
            <div class="card card-alt light-blue-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold text-black">Step Eight - Eye Cream:</p>
                    <p class="card-text mb-1 text-black">
                        Eyecare is taken very seriously in K-Beauty routines. It is a step definitely not to be missed especially when the fragile eye contour is always the first area to
                        show any signs of ageing. Due to the lack of sebaceous glands and constant movement, it requires special care.
                    </p>
                </div>
            </div>
            <div class="card card-alt beige-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold text-black">Step Nine - Moisturiser:</p>
                    <p class="card-text mb-1 text-black">
                        Next, use a moisturizer to lock in all of the nutrients from the previous steps and keep your skin hydrated.
                    </p>
                </div>
            </div>
            <div class="card card-alt sunglow-bg">
                <div class="card-body">
                    <p class="card-title brand-font-alt h5 font-weight-bold text-black">Step 10 - Sunscreen:</p>
                    <p class="card-text mb-1 text-black">
                        The final step! Korean women have always glorified fairer skin and so for centuries have without fail worn sunscreen
                        daily and stayed out of the harsh sun to prevent skin damage. A perfectly even skin tone without pigmentation marks is
                        highly prized in K-beauty.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Continue Shopping link -->
    <div class="col text-center mt-4 mb-5">
        <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1 mb-3">
            <span class="icon">
                <i class="fas fa-shopping-bag"></i>
            </span>
        <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>

{% endblock %}