<!-- Individual brand area -->
<div class="container mb-5">
    <h3 class="brand-font-alt pt-2">
        Available Products from {{ brand.friendly_name }}
    </h3>
    <!-- WORK IN PRGRESS -->
    <!-- Products for each specific brand -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mx-5 mb-5">
        {% for product in products %}

        <div class="col mb-5">
            <div class="card h-100">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}shop-kbeauty-logo.png"
                        alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <p class="text-center mb-1">{{ product.name }}</p>
                    {% if product.category %}
                    <p class="small mt-2 mb-0 text-center">
                        <a class="alt-text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-list"></i> {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.subcategory %}
                    <p class="small mt-2 mb-0 text-center">
                        <a class="text-muted" href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                            <i class="fas fa-tag"></i> {{ product.subcategory.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <h3 class="mb-0 text-center brand-font pb-1">£{{ product.price }}</h3>
                    {% if product.discount > 0.01 %}
                    <p class="mb-0 text-center"><s>£{{ product.original_price }}</s></p>
                    <p class="mb-0 text-center pb-3"><span class="text-danger">You save: </span> £{{ product.discount }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
