{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h2 class="display-5 brand-font-alt text-shadow mt-5 mb-3">My Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="h6">Hi {{ user.username }},</p>
            </div>
            <div class="col-12">
                <p>
                    This is where you can view your order history and order confirmations. You can also update your personal information.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="alt-text-muted">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="alt-text-muted">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {% if item.product.has_sizes %}
                                            Size {{ item.product.size|upper }}
                                            {% endif %}{{ item.product.name }} x {{ item.quantity }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Testing rendering reviews -->
        <div class="row">
            <div class="col-12">
                <!-- All Available Reviews -->
                {% if user %}
                    {% if reviews %}
                    <div class="row">
                        {% for review in reviews %}
                        <div class="col-12 col-md-6 col-lg-3 mt-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title brand-font-alt h6">{{ review.title }}</h3>
                                    <small class="text-muted p-0">{{ review.user }}</small>
                                    <small class="text-muted p-0 float-right">{{ review.date }}</small>
                                    <p class="card-text">{{ review.content }}</p>

                                    {% if request.user.is_superuser %}
                                    <a class="btn btn-sm btn-black text-shadow mt-1 rounded-0 mb-3" href="{% url 'edit_review' review.id %}">
                                        Edit
                                    </a>
                                    {% endif %}

                                </div>
                                <div class="card-footer">
                                    <p class="">
                                        Have you used {{ product.name }} before?
                                    </p>
                                    <a href="{% url 'add_review' product.id %}" class="btn btn-sm btn-brand rounded-0 text-shadow">
                                        Share your experience!
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="mt-3">
                        <p class="alt-text-muted h5 text-center">You have not submitted any product review.</p>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{%  endblock %}