{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="display-5 brand-font-alt text-shadow mt-5 mb-3">My Profile</h2>
                <hr>
            </div>
        </div>
        {{ profile }}
    </div>
{% endblock %}