{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" property="og:description"
        content="For Logged In Users. Shop K-Beauty is an online shop for your K-Beauty needs. Create your wish list of
    K-Beauty products and don't miss out on great deals!">
    <meta name="keywords"
        content="K-beauty, skincare, k-beauty wish list, serums, ampoules, glass skin, essence, younger-looking skin, discounts, deals">

    {% comment %} Essential Meta Tags for Social Media - Facebook {% endcomment %}
    <meta property="og:title" content="Wishlist | Shop K-Beauty">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{% static 'images/shop-k-beauty-site-image2.png' %}">
    <meta property="og:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">
    <meta property="og:url" content="https://shop-k-beauty-django-joy-zadan.herokuapp.com/wishlist/">
    <meta name=robots content="noindex, nofollow">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description"
        content="For Logged In Users. Shop K-Beauty is an online shop for your K-Beauty needs. Create your wish list of K-Beauty products and
    don't miss out on great deals!">
    <meta property="og:site_name" content="Shop K-Beauty">
    <meta name="twitter:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">

    {% comment %} Non-Essential but Required for Analytics {% endcomment %}
    <meta property="fb:app_id" content="1004587674262621">
{% endblock %}

{% block extra_title %}Wishlist | {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-1">
        <div class="row">
            <div class="col">
                <!-- PAGE HEADING -->
                <h2 class="display-5 brand-font-alt text-center mt-5 mb-3">View and Edit Your Wishlist</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="font-weight-bold mb-0">Hi {{ user.username }},</p>
                {% if wishlist %}
                <p>Here are the current list of products in your Wishlist.</p>
                {% else %}
                <p class="mt-1">Your wishlist is empty.</p>
                <!-- Continue Shopping link -->
                <div class="col mt-4 pl-0">
                    <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1">
                        <span class="icon">
                            <i class="fas fa-shopping-bag"></i>
                        </span>
                    <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container mb-5">
        {% if wishlist %}
        <div class="table-responsive rounded-0">
            <table class="table wishlist-table wishlist-table-lg text-align-center">
                <thead class="wishlist-thead">
                    <tr class="wishlist-tr wishlist-tr-lg mx-1 my-1">
                        <th class="wishlist-th brand-font-alt">Product Image</th>
                        <th class="wishlist-th brand-font-alt">Name</th>
                        <th class="wishlist-th brand-font-alt">Price</th>
                        <th class="wishlist-th brand-font-alt">Shop Now</th>
                        <th class="wishlist-th brand-font-alt">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in wishlist %}
                    <tr class="wishlist-tr wishlist-tr-lg">
                        <td class="wishlist-td" data-label="Product: ">
                            <!-- Product image -->
                            {% if product.product.image %}
                            <img class="product-image-sm" src="{{ product.product.image.url }}" alt="{{ product.product.name }}">
                            {% else %}
                            <img class="" src="{{ MEDIA_URL }}shop-kbeauty-logo-final.webp" alt="{{ product.product.name }}">
                            {% endif %}
                        </td>
                        <td class="wishlist-td" data-label="Name:">
                            <p class="h6 brand-font-alt">{{ product.product.name }}</p>
                        </td>
                        <td class="wishlist-td" data-label="Price:">
                            <div>
                                <p class="h6 mb-0 pb-1"><span class="text-left brand-font">£{{ product.product.price }}</span></p>
                                {% if product.product.discount > 0.01 %}
                                <p class="mb-0"><s>£{{ product.product.original_price }}</s></p>
                                <p class="mb-0"><span class="text-purple"><strong>You save:</strong> </span> £{{ product.product.discount }}</p>
                                {% endif %}
                            </div>
                        </td>
                        <td class="wishlist-td" data-label="Shop Now: ">
                            <!-- Shop Now CTA to open product detail page for current product -->
                            <a href="{% url 'product_detail' product.product.id %}" aria-label="link to product detail">
                                <i class="fas fa-shopping-bag text-muted"></i>
                            </a>
                        </td>
                        <td class="wishlist-td" data-label="Remove: ">
                            <a href="{% url 'remove_from_wishlist' product.product.id %}" aria-label="remove product from wishlist">
                                <i class="fas fa-trash alt-text-muted"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

{% endblock %}