{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <!-- PAGE HEADING -->
        <h2 class="display-5 brand-font-alt text-center my-5">
            Wishlist - WIP
        </h2>
        <hr>

        <!-- WISHLIST - PRODUCT DETAIL, DATE ADDED &amp; ADD/REMOVE LINKS AS BUTTONS -->

    </div>

{% endblock %}