body {
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-footer {
    font-size: 1.25rem;
}

.main-logo-link {
    width: fit-content;
}

/* hero section */
.home-hero {
    background: url('/media/homepage-bg.png') no-repeat center center fixed;
    background-size: cover;
    height: 600px;
    width: 100%;
}

/* placeholder content below hero */
.home-hero2 {
    background: url('/media/homepage-img2-v2.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

/* -------------------------------- Typography Styling */
.logo-font {
    text-transform: uppercase;
}

.nav-font {
    text-transform: uppercase;
}

.brand-font {
    color: #e9385c;
    text-transform: uppercase;
    font-weight: 700;
}

.brand-font-alt {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.text-shadow {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.6),
                    0px -5px 35px rgba(255,255,255,0.3);
}

.nowrap {
    white-space: nowrap !important;
}

/* -------------------------------- Buttons Styling */
.shop-now-button {
    background: black;
    color: white;
    min-width: 16.25rem;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #e9385c;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-brand {
    background: #e9385c;
    color: white;
}

/* -------------------------------- Product Image Styling */
.image-container {
    margin: 2rem auto !important;
}

.product-image {
    width: 15.625rem;
    height: 18.75rem;
    margin-left: 2rem;
}


/* -------------------------------- Footer Styling */
.footer {
    background-color: #e9385c;
}

.footer-note {
    background-color: #000;
    margin-bottom: 0 !important;
}

/* -------------------------------- Media Queries */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* sticky top navbar only on medium and up */
@media (min-width: 992px) {
    #logo-mobile {
        display: none;
    }
}

/* styling for home hero content for medium screens and below */
@media (max-width: 892px) {
    .display-4 {
        font-size: 2.5rem !important;
    }
}

@media (max-width: 698px) {
    .logo-font {
        font-size: 1.5rem;
    }

    .nav-font {
        font-size: 1rem;
    }
}

@media (max-width: 636px) {
    .nav-link {
        padding: 0;
    }
}

@media (max-width: 441px) {
    .banner-font {
        font-size: 1.25rem;
        text-transform: uppercase;
    }
}

@media (max-width: 367px) {
    .logo-font {
        font-size: 1.75rem;
    }

    .banner-font {
        font-size: 1.25rem;
    }

    .display-4 {
        font-size: 2rem !important;
    }
}

@media (max-width: 333px) {
    .nav-link {
        padding: 0;
    }

    .shop-now-button {
        background: black;
        color: white;
        min-width: 14rem;
    }
}