/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: 'Lato';
    overflow-x: hidden;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar-toggler {
    background-color: #83a8db !important;
    color: #000 !important;
}

.navbar-toggler:active,
.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #26145b !important;
    color: #fff !important;
}

.nav-fill .nav-item, .nav-fill>.nav-link {
    text-align: start !important;
}

.logo-footer {
    font-size: 1.5rem;
    margin: 0 auto;
    text-transform: uppercase;
    color: #e9385c;
}

/* -------------------------------- Hero Section Styling */
.home-hero {
    background-image: url('/media/hero-bg-new.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 48rem;
    width: 100%;
}

.mask {
    background-color: rgba(255,255,255,0.4);
}

/* Text color animation credit to Swarup Kumar Kuila - https://codepen.io/uiswarup/pen/XWgQJrq */
.animate-it {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #26145b 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

 @keyframes textclip {
     to {
         background-position: 200% center;
     }
 }

/* -------------------------------- Skincare Tips Page Styling */
.tips-hero {
    background-image: url('/media/skincare-tips-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 48rem; */
    width: 100%;
}

.tips-margin {
    margin-top: 15rem;
}

/* -------------------------------- Typography Styling */
.logo-font {
    text-transform: uppercase;
}

.logo-font-alt {
    text-transform: uppercase;
    color: #26145b;
    font-weight: 500;
}

#home-cta-font {
    font-size: 2.5rem !important;
}

.nav-font {
    text-transform: uppercase;
}

.nav-font-alt {
    color: #e93f5b;
    text-transform: uppercase;
}

.brand-font {
    color: #e93f5b;
    text-transform: uppercase;
    font-weight: 700;
}

.price-font {
    color: #e93f5b;
}

.brand-link:hover,
.banner-link:active,
.brand-link:focus {
    color: #000;
    padding: 5px;
}

.brand-font-alt {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.alt-text-muted {
    color: #e93f5b;
}

.alt-text-muted:hover,
.alt-text-muted:active,
.alt-text-muted:focus {
    color: #26145b;
}

.text-black {
    color: #000 !important;
}

.text-muted {
    color: #26145b !important;
}

.text-muted:hover,
.text-muted:active,
.text-muted:focus {
    color: #e93f5b !important;
}

.text-shadow {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.6),
                    0px -5px 35px rgba(255,255,255,0.3);
}

.nowrap {
    white-space: nowrap !important;
}

/* -------------------------------- Buttons & Links Styling */
a:hover,
a:active,
a:visited {
    text-decoration: none !important;
}

.shop-now-button,
.show-brands-list-btn {
    background: black;
    color: white;
    min-width: 16.25rem;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-brand {
    background: #e93f5b;
    color: white;
}

.btn-brand:hover,
.btn-brand:active,
.btn-brand:focus {
    background: black;
    color: white !important;
}

.brand-name-link {
    color: #26145b !important;
}

.brand-name-link:hover,
.brand-name-link:active,
.brand-name-link:visited {
    text-decoration: none !important;
    color: #e93f5b !important;
}

#brand-show {
    display: none;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #e9385c;
    color: white;
}

.btn-red {
    background: red;
    color: white;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: black;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.border-warning {
    border-color: #ffca13!important;
}

.alt-a,
.alt-text-info,
.alt-text-primary {
    color: #e93f5b !important;
}

.alt-a:hover,
.alt-a:active,
.alt-a:focus,
.alt-text-info:hover,
.alt-text-info:active,
.alt-text-info:focus,
.alt-text-primary:hover,
.alt-text-primary:active,
.alt-text-primary:focus {
    color: #26145b !important;
}

a.category-badge > span.badge {
    background: #e93f5b !important;
    color: #fff !important;
    border-color: #fff !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

a.subcategory-badge > span.badge {
    background: #26145b !important;
    color: #fff !important;
    border-color: #fff !important;
}

a.subcategory-badge > span.badge:hover {
    background: #ffca13 !important;
    color: #000 !important;
}

.btt-button {
    height: 2.625rem;
    width: 2.625rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255,255,255,0.1);
}

.btt-button:active {
    background-color: #000;
}

.btt-link {
    cursor: pointer;
}

.update-link,
.remove-item {
    cursor: pointer;
    border: 0;
    background-color: #fff;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- additional styling for better UI */
hr {
    border-top: 1px solid #000;
}

.alt-hr {
    border-top: 1px solid #000;
    width: 80%;
    margin: 0 auto;
}

.alt-border {
    border: 1px solid #000;
}

.select,
.form-control {
    border: 1px solid #000 !important;
    border-radius: 0 !important;
}

/* ------------------------------- card styling to overwrite bootstrap's default styling */
.card {
    color: #000 !important;
    border: 1px solid #000;
    border-radius: 0;
}

.card-body {
    padding-bottom: 10px !important;
}

.card-footer {
    border-top: 1px solid #fff;
    padding-top: 5px !important;
}

.text-purple {
    color: #26145b;
}

.baby-blue-text {
    color: #83a8db;
}

/* ------------------------------- card styling for the K-Beauty tips page */
.card-alt {
    border: 1px solid #fff !important;
    border-radius: 5px;
}

.light-blue-bg {
    background-color: #83abdb;
}

.light-pink-bg {
    background-color: #fcadc1;
}

.green-bg {
    background-color: #2a9d8f;
}

.midnight-blue-bg {
    background-color: #26145b;
}

.beige-bg {
    background-color: #f9f8eb;
}

.dark-pink-bg {
    background-color: #e93f5b;
}

.orange-bg {
    background-color: #ee6c4d;
}

.border-glow {
    border: 1px solid #ffca13 !important;
}

.mx-extra {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 2.25rem;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #343a40 !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 6.25rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Product and Brand Image Styling */
.image-container {
    margin: 2rem auto !important;
}

.product-image {
    display: flex;
    width: 7.8125rem;
    height: 9.375rem;
    margin: 1rem auto;
}

.product-image-lg {
    display: flex;
    width: 15.625rem;
    height: 18.75rem;
    margin: 1rem auto;
}

.brand-image {
    display: flex;
    width: 12.5rem;
    height: 6.25rem;
    margin: 0 auto;
}

/* -------------------------------- Allauth Forms Styling */
/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #343a40; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	color: #fff;
    background-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Product Form including clearable file input widget to handle image field */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- 400, 403, 404 and 500 Error Pages Styling */
.error-hero-bg {
    background-image: url('/media/error-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 48rem;
    width: 100%;

}

/* -------------------------------- Footer Styling */
.footer {
    background-color: #000;
}

.footer-note {
    background-color: #000;
    margin-bottom: 0 !important;
}

.footer-heading {
    color: #83a8db;
}

.social-font {
    font-family: Lato;
}

.footer-hr {
    border-top: 1px solid #e9385c;
    width: 80%;
    margin: 0 auto;
}

/* -------------------------------- Media Queries */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* sticky top navbar only on medium and up */
@media (min-width: 992px) {
    #logo-mobile {
        display: none;
    }

    .btn-red,
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* styling for home hero content for medium screens and below */
@media (max-width: 892px) {
    .display-4 {
        font-size: 2.5rem !important;
    }

    .home-hero,
    .error-hero-bg {
        height: 36rem;
        width: 100%;
    }
}

@media (max-width: 828px) {
    .product-image-lg {
        width: 7.8125rem;
        height: 9.375rem;
    }
}

@media (max-width: 767px) {
    .product-review-img {
        display: flex;
        width: auto !important;
        height: 9.375rem;
        margin: 2rem auto;
    }

    .mx-extra {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
}

@media (max-width: 698px) {
    .logo-font {
        font-size: 1.5rem;
    }

    .nav-font {
        font-size: 1rem;
    }

    .home-hero,
    .error-hero-bg {
        height: 35rem;
        width: 100%;
    }
}

@media (max-width: 636px) {
    .nav-link {
        padding: 0;
    }
}

@media (max-width: 441px) {
    .banner-font {
        font-size: 1rem;
        text-transform: uppercase;
    }

    .home-hero,
    .error-hero-bg {
        height: 37rem;
        width: 100%;
    }

    .mask {
        background-color: rgba(255,255,255,0.7);
        margin-top: 2rem !important;
    }

    .shop-now-button,
    .show-brands-list-btn {
        min-width: 12rem;
    }
}

@media (max-width: 367px) {
    .display-4 {
        font-size: 2rem !important;
    }

    .shop-now-button {
        min-width: 10rem;
}

}

@media (max-width: 333px) {
    .nav-link {
        padding: 0;
    }

    #home-cta-font {
        font-size: 1.75rem !important;
    }
}