{% if widget.is_initial %}
    <p>{{ widget.initial_text }}:</p>
    <a href="{{ widget.value.url }}">
        <!-- replaces the filename value with a small preview of the image -->
        <img width="96" height="96" src="{{ widget.value.url }}" alt="" class="rounded shadow-sm">
    </a>
    {% if not widget.required %}
        <!-- wraps checkbox in a div with bootstrap classes for styling -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <label for="{{ widget.checkbox_id }}" class="custom-control-label text-danger">{{ widget.clear_checkbox_label }}</label>
        </div>
    {% endif %}
    <br>
    {{ widget.input_text }}
{% endif %}
<!-- file input styled as a button -->
<span class="btn btn-black rounded-0 btn-file mt-3">
    Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
<!-- paragraph below holds the file name once one is selected -->
<strong><p class="text-danger" id="filename"></p></strong>
