<footer class="footer">
    <div class="container py-3">
        <div class="col-12">
            <div class="text-center foot-sm mt-2">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <p class="logo-footer text-center"><strong>Shop</strong> K-Beauty</p>
                </a>
                <p class="ml-3 mb-0 text-white">
                    <small>123 Shop Street, London, EC2B 2BU, UK</small>
                </p>
                <p class="ml-3 mb-0 text-white">
                    <small>shopkbeauty@example.com</small>
                </p>
                <p class="ml-3 mb-0 text-white">
                    <small>&zwj;020 &zwj;7888 &zwj;8888</small>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- about us -->
            <div class="col-sm mb-2">
                <p class="h5 footer-heading">ABOUT</p>
                <p class="text-white">
                    Shop K-Beauty is an online shop for all your K-Beauty needs. We stock a wide range of affordable and leading selection
                    of Korean skincare and hair & body products that will help your skin look and feel amazing!
                </p>
            </div>
            <!-- policies -->
            <div class="col-sm mb-4">
                <p class="h5 footer-heading">POLICIES</p>
                <a href="{% url 'privacy_policy' %}">
                    <p class="text-white text-left mb-1 ">Privacy Policy</p>
                </a>
                <a href="{% url 'terms_and_conditions' %}">
                    <p class="text-white text-left mb-1">Terms & Conditions</p>
                </a>
                <a href="{% url 'return_and_refund_policy' %}">
                    <p class="text-white text-left mb-1">Return & Refund Policy</p>
                </a>
                <a href="{% url 'shipping_policy' %}">
                    <p class="text-white text-left mb-1">Shipping Policy</p>
                </a>
            </div>
            <!-- social media -->
            <div class="col-sm mb-4">
                <p class="h5 footer-heading">FOLLOW US</p>
                <div class="col p-0 mb-1">
                    <a href="https://www.facebook.com/profile.php?id=100088558250954" class="text-decoration-none"
                        target="_blank" rel="noopener" aria-label="Follow Shop K-Beauty on Facebook">
                        <i class="fab fa-facebook-square text-white" aria-hidden="true">
                            <span class="text-white social-font pl-2">Facebook</span>
                        </i>
                    </a>
                </div>
                <div class="col p-0 mb-1">
                    <a href="https://www.instagram.com/" class="text-decoration-none" target="_blank" rel="noopener"
                        aria-label="Follow Shop K-Beauty on Instagram">
                        <i class="fab fa-instagram text-white" aria-hidden="true">
                            <span class="text-white social-font pl-2">Instagram</span>
                        </i>
                    </a>
                </div>
                <div class="col p-0 mb-1">
                    <a href="https://www.pinterest.co.uk/" class="text-decoration-none" target="_blank" rel="noopener"
                        aria-label="Follow Shop K-Beauty on Pinterest">
                        <i class="fab fa-pinterest text-white" aria-hidden="true">
                            <span class="text-white social-font pl-2">Pinterest</span>
                        </i>
                    </a>
                </div>
                <div class="col p-0 mb-1">
                    <a href="https://twitter.com/?lang=en" class="text-decoration-none" target="_blank" rel="noopener"
                        aria-label="Follow Shop K-Beauty on Twitter">
                        <i class="fab fa-twitter text-white" aria-hidden="true">
                            <span class="text-white social-font pl-2">Twitter</span>
                        </i>
                    </a>
                </div>
            </div>
            <!-- payments processing -->
            <div class="col-sm mb-2">
                <p class="h5 footer-heading">PAYMENTS PROCESSING</p>
                <p class="text-white">
                    Shop K-Beauty's payments processing is powered by Stripe.
                    Stripe is a suite of APIs powering online payment processing and commerce solutions
                    for internet businesses of all sizes.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-note">
        <hr class="footer-hr">
        <p class="py-3 text-center text-white footer-note">©<span id="current-year"></span>
            Shop K-Beauty, a Full Stack E-Commerce Project by
            <a href="https://github.com/JoyZadan">
                <span class="text-decoration-none footer-heading">Joy Zadan</span>
            </a>  - For Educational Purposes Only
        </p>
        <p class="mb-0 ml-5 mr-5 pb-3 text-center text-white">
            <small>
                <em>
                    Please note: as a student project, we only simulate payments using Stripe's test mode. Although this means that the developer
                    of this project can, at anytime, test and confirm that the payment integration works correctly and simulate transactions,
                    this is done without moving any real money. As such, no real order will be processed for delivery.
                </em>
            </small>
        </p>
    </div>
</footer>

