<footer class="footer">
    <div class="container py-3">
        <div class="col-12">
            <div class="text-center foot-sm mt-2">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-footer text-black text-center"><strong>Shop</strong> K-Beauty</h2>
                </a>
                <p class="ml-3 mb-0 text-white">
                    123 Shop Street, London, EC2B 2BU, UK
                </p>
                <p class="ml-3 mb-0 text-white">
                    info@shop-kbeauty.com
                </p>
                <p class="ml-3 mb-0 text-white">
                    020 7888 8888
                </p>
            </div>
        </div>
    </div>
    <div class="footer-note">
        <p class="py-3 text-center text-white footer-note">©<span id="current-year"></span>
            Shop K-Beauty, a Full Stack E-Commerce Project by <a href="https://github.com/JoyZadan">Joy Zadan</a>  - For Educational Purposes Only
        </p>
    </div>
    <!-- testing new footer style to include policies -->
    <div class="row align-items-center text-center">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-footer text-black text-center"><strong>Shop</strong> K-Beauty</h2>
                    </a>
                </div>
                <div class="col text-left">
                    <p class="h-2">Privacy Policy</p>
                    <a href="return_refund_policy.html" class="h2">
                        <p class="text-black text-center">Return and Refund Policy</p>
                    </a>

                    <p class="h-2">

                        Return and Refund Policy</p>

                </div>

            </div>

        </div>

    </div>

</footer>

