<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 foot-sm">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Shop</strong> K-Beauty</h2>
                    <!-- <img src="" class="" alt="logo"> -->
                </a>
                <p class="py-1 ml-3">
                    123 Shop Street, London, EC2B 2BU, UK
                </p>
                <p>

                </p>

            </div>
        </div>

    </div>



</footer>

