<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skincare-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skincare
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skincare-link">
                <a href="" class="dropdown-item">Face Care</a>
                <a href="" class="dropdown-item">Masks</a>
                <a href="" class="dropdown-item">Facial Cleanser</a>
                <a href="" class="dropdown-item">Eye & Lip Care</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hair-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hair-link">
                <a href="" class="dropdown-item">Shampoo & Conditioner</a>
                <a href="" class="dropdown-item">Hair Treatments</a>
                <a href="" class="dropdown-item">Tools & Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="body-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Body
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="body-link">
                <a href="" class="dropdown-item">Bath & Shower</a>
                <a href="" class="dropdown-item">Body Scrubs & Exfoliants</a>
                <a href="" class="dropdown-item">Moisturizer & Lotion</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>