{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- 500 Error Heading -->
    <div class="hero-img-500-error container-fluid">
        <div class="row hero-heading">
            <div class="col-7 col-md-6 mt-5 pl-5">
                <h1 class="display-4 logo-font text-white text-shadow">
                    404 Error
                </h1>
                <p class="display-5 logo-font text-black">
                    Sorry, we cannot find the page you are looking for!
                </p>
                <p class="h6">Please return to Home Page</p>
                <div class="my-5">
                    <h2 class="text-shadow h-4">
                        <a href="{% url 'home' %}" class="shop-now-button btn btn-large rounded-0 text-upppercase py-3">Shop K-Beauty</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}