{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Individual brand area -->
    <div class="container mb-5">
        <h2 class="display-5 brand-font-alt text-shadow text-center my-5">
            K-Beauty Brand
        </h2>
        <hr>
        <div class="row">
            <!-- Column for brand image -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if brand.image %}
                    <a href="{{ brand.image.url }}" target="_blank">
                        <img class="card-img-top product-image" src="{{ brand.image.url }}" alt="{{ brand.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top product-image" src="{{ MEDIA_URL }}shop-kbeauty-logo-final.png" alt="{{ brand.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <!-- Column for brand description -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-4">
                    <p class="mb-0 h4 font-weight-bold brand-font-alt">{{ brand.friendly_name }}</p>
                </div>
                <div>
                    <p>{{ brand.description }}</p>
                </div>
            </div>
        </div>
        <!-- Continue Shopping link -->
        <div class="col text-center mt-1">
            <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1 mb-3">
                <span class="icon">
                    <i class="fas fa-shopping-bag"></i>
                </span>
            <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>

{% endblock %}