{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" property="og:description"
        content="Discover our wide range of leading selection of K-Beauty brands. Shop K-Beauty is an online shop specialising in K-Beauty
        skincare, hair and body products.">
    <meta name="keywords"
        content="Shop K-Beauty, K-beauty, k-beauty brands, k-beauty skincare, k-beauty hair & body products">

    {% comment %} Essential Meta Tags for Social Media - Facebook and Twitter {% endcomment %}
    <meta property="og:title" content="All K-Beauty Brands | Shop K-Beauty">
    <meta property="og:type" content="brands">
    <meta property="og:image" content="{% static 'images/shop-k-beauty-products-brands.png' %}">
    <meta property="og:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">
    <meta property="og:url" content="https://shop-k-beauty-django-joy-zadan.herokuapp.com/products/brands/">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description"
        content="Discover our wide range of leading selection of K-Beauty brands. Shop K-Beauty is an online shop specialising in K-Beauty
        skincare, hair and body products.">
    <meta property="og:site_name" content="Shop K-Beauty">
    <meta name="twitter:image:alt"
        content="Shop K-Beauty online shop products and brands on a variety of screen sizes and devices, from laptops to tablets to mobiles">

    {% comment %} Non-Essential but Required for Analytics {% endcomment %}
    <meta property="fb:app_id" content="1004587674262621">
{% endblock %}

{% block extra_title %}All K-Beauty Brands | {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col text-center mt-1">
            <h2 class="display-5 brand-font text-black text-center my-5">Shop All Brands</h2>
        </div>
        <!-- List of all available brands -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mx-5 mb-5">
            {% for brand in brands %}
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="{% url 'brand_detail' brand.id %}">
                        <img class="card-img-top img-fluid brand-image" src="{{ brand.image.url }}" alt="{{ brand.name }}">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Back to All Products link as button -->
    <!-- Show/ Hide All Brands -->
    <div class="col text-center mt-3 mb-5">
        <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1 mb-3">
            <span class="icon">
                <i class="fas fa-shopping-bag"></i>
            </span>
        <span class="text-uppercase">View all products</span>
        </a>
    </div>

{% endblock %}