{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Individual brand area -->
    <div class="container mb-5">
        <h2 class="display-5 brand-font text-black text-center my-5">K-Beauty Brand</h2>
        <hr>
        <div class="row">
            <!-- Column for brand image -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if brand.image %}
                    <a href="{{ brand.image.url }}" target="_blank">
                        <img class="card-img-top product-image img-fluid" src="{{ brand.image.url }}" alt="{{ brand.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top product-image img-fluid" src="{{ MEDIA_URL }}shop-kbeauty-logo-final.webp" alt="{{ brand.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <!-- Column for brand description -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-4">
                    <p class="mb-0 h4 font-weight-bold brand-font-alt">{{ brand.friendly_name }}</p>
                </div>
                <div>
                    <p>{{ brand.description }}</p>
                </div>
            </div>
        </div>
        <!-- Available products filtered by individual brand -->
        <div>
            <h3 class="display-6 brand-font text-center mt-2 mb-4">
                All available products from {{ brand.friendly_name}}
            </h3>
        </div>
        <!-- Individual product cards -->
        {% if products %}
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-2 mb-2">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}shop-kbeauty-logo-final.webp" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body">
                        <p class="text-center mb-1">{{ product.name }}</p>

                        {% if product.category %}
                        <p class="small mt-2 mb-0 text-center">
                            <a class="alt-text-muted"
                                href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-list"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}

                        {% if product.subcategory %}
                        <p class="small mt-2 mb-0 text-center">
                            <a class="text-muted"
                                href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                                <i class="fas fa-tag"></i> {{ product.subcategory.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <h3 class="mb-0 text-center brand-font pb-1">£{{ product.price }}</h3>
                        {% if product.discount > 0.01 %}
                        <p class="mb-0 text-center"><s>£{{ product.original_price }}</s></p>
                        <p class="mb-0 text-center pb-3"><span class="purple-text"><strong>You save:</strong> </span> £{{ product.discount }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="mb-4">
            <p>
                Sorry, there are no products available for {{ brand.friendly_name }} at the moment.
                Please come back soon to check as we add new products as soon as they become available.
            </p>
        </div>
        {% endif %}
        <!-- Continue Shopping link -->
        <div class="col text-center mt-1">
            <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1 mb-3">
                <span class="icon">
                    <i class="fas fa-shopping-bag"></i>
                </span>
            <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>

{% endblock %}