{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" property="og:description"
        content="From Axis-Y to The Vegan Glow, from skincare to hair and body products, we stock a wide-range of affordable and leading selection
    of K-Beauty brands.">
    <meta name="keywords"
        content="Shop K-Beauty, K-beauty, k-beauty brands, k-beauty skincare, k-beauty hair & body products">

    {% comment %} Essential Meta Tags for Social Media - Facebook {% endcomment %}
    <meta property="og:title" content="{{ brand.friendly_name }} | Shop K-Beauty">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{{ brand.image_field.url }">
    <meta property="og:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">
    <meta property="og:url" content="https://shop-k-beauty-django-joy-zadan.herokuapp.com/products/brand_detail/{{ brand.id }}">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description"
        content="{{ brand.description }}">
    <meta property="og:site_name" content="{{ brand.friendly_name }} | Shop K-Beauty">
    <meta name="twitter:image:alt"
        content="Shop K-Beauty online shop on a variety of screen sizes and devices, from laptops to tablets to mobiles">

    {% comment %} Non-Essential but Required for Analytics {% endcomment %}
    <meta property="fb:app_id" content="1004587674262621">
{% endblock %}

{% block extra_title %}{{ brand.friendly_name }} | {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <h2 class="display-5 brand-font text-black text-center mt-5 mb-3">K-Beauty Brand</h2>
        <hr class="w-75 mx-auto">
    </div>
    <!-- Individual brand area -->
    <div class="container mb-3">
        <!-- Individual brand logo and description -->
        <div class="row mx-3">
            <div class="col-12">
                {% if brand.image %}
                <a href="{{ brand.image.url }}" target="_blank">
                    <img class="brand-image" src="{{ brand.image.url }}" alt="{{ brand.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top brand-image img-fluid" src="{{ MEDIA_URL }}shop-kbeauty-logo-final.webp" alt="{{ brand.name }}">
                </a>
                {% endif %}
                <p class="mb-2 h4 font-weight-bold brand-font-alt text-center">{{ brand.friendly_name }}</p>
                <p class="mt-3">{{ brand.description }}</p>

                <!-- LINK AS BUTTON TO EDIT A BRAND -->
                {% if request.user.is_superuser %}
                <div class="d-flex justify-content-center mx-auto mt-2 mb-2">
                    <a class="btn btn-sm btn-outline-black text-shadow font-weight-bold mt-1 rounded-0 mb-3 mx-2" href="{% url 'edit_brand' brand.id %}">
                        Edit Brand
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Available products filtered by individual brand -->
    <div class="container">
        <h3 class="display-6 brand-font text-center mb-4">
            Shop available products from {{ brand.friendly_name}}
        </h3>
    </div>
    <!-- Individual product cards -->
    <div class="container">
        {% if products %}
        <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3">
                <div class="card card-alt h-100">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top product-image img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}shop-kbeauty-logo-final.webp" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body p-1">
                        <p class="card-title brand-font-alt h6 text-center mt-2">{{ product.name }}</p>
                        {% if product.category %}
                        <p class="small mt-2 mb-0 text-center">
                            <a class="alt-text-muted font-weight-bold"
                                href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-list"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                        {% if product.subcategory %}
                        <p class="small mt-2 mb-0 text-center">
                            <a class="text-muted font-weight-bold"
                                href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                                <i class="fas fa-tag"></i> {{ product.subcategory.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white text-center mb-2">
                        <div class="price-box mb-1">
                            <p class="h4 mb-0 pb-1"><span class="text-left brand-font">£{{ product.price }}</span></p>
                            {% if product.discount > 0.01 %}
                            <p class="mb-0"><s>£{{ product.original_price }}</s></p>
                            <p class="mb-0 text-center"><span class="text-purple"><strong>You save:</strong> </span>
                                £{{ product.discount }}</p>
                            {% endif %}
                        </div>
                        <a href="{% url 'product_detail' product.id %}"
                            class="btn btn-sm btn-black text-shadow mt-1 rounded-0">
                            <span class="text-uppercase">Shop Now</span>
                            <span class="icon">
                                <i class="fas fa-shopping-bag"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="mb-4">
            <p>
                Sorry, there are no products available for {{ brand.friendly_name }} at the moment.
                Please come back soon to check as we add new products as soon as they become available.
            </p>
        </div>
        {% endif %}
    </div>
    <!-- Continue Shopping link -->
    <div class="col text-center mt-3 mb-5">
        <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1 mb-3">
            <span class="icon">
                <i class="fas fa-shopping-bag"></i>
            </span>
        <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>

{% endblock %}