{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-1">
                <h2 class="display-5 brand-font-alt text-center my-4">Products</h2>
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-green text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                {% for subcat in current_subcategories %}
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory={{ subcat.name }}">
                        <span class="p-2 mt-2 badge badge-green text-black rounded-0 border border-dark">{{ subcat.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
                                <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="discount_asc" {% if current_sorting == 'discount_desc' %}selected{% endif %}>Discount (high to low)</option>
                                <option value="discount_desc" {% if current_sorting == 'discount_asc' %}selected{% endif %}>Discount (low to high)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                <option value="subcategory_asc" {% if current_sorting == 'subcategory_asc' %}selected{% endif %}>Subcategory (A-Z)</option>
                                <option value="subcategory_desc" {% if current_sorting == 'subcategory_desc' %}selected{% endif %}>Subcategory (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}" class="alt-a">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All Products area -->
    <!-- Individual product cards -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mx-5 mb-5">
        {% for product in products %}
        <div class="col mb-5">
            <div class="card h-100">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}shop-kbeauty-logo.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <p class="text-center mb-1">{{ product.name }}</p>

                    {% if product.category %}
                    <p class="small mt-2 mb-0 text-center">
                        <a class="alt-text-muted"
                            href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-list"></i> {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}

                    {% if product.subcategory %}
                    <p class="small mt-2 mb-0 text-center">
                        <a class="text-muted"
                            href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                            <i class="fas fa-tag"></i> {{ product.subcategory.friendly_name }}
                        </a>
                    </p>

                    {% if request.user.is_superuser %}
                    <small class="float-right h6 mt-3">
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-outline-black text-shadow mt-1 rounded-0 mb-3 mx-2">Edit</a>
                        <a class="btn btn-sm btn-red text-shadow mt-1 rounded-0 mb-3 mx-2" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                    {% endif %}

                </div>
                <div class="card-footer">
                    <h3 class="mb-0 text-center brand-font pb-1">£{{ product.price }}</h3>
                    {% if product.discount > 0.01 %}
                    <p class="mb-0 text-center"><s>£{{ product.original_price }}</s></p>
                    <p class="mb-0 text-center pb-3"><span class="text-danger">You save: </span> £{{ product.discount }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Back to top button -->
    <div class="btt-button shadow-sm rounded-0 border border-warning">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-warning text-decoration-none mx-auto my-auto"></i>
        </a>
    </div>

{% endblock%}

<!-- JQuery for the sort selector box, credit to Code Institute Django Ecommerce Walkthrough -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>

    <script type="text/javascript">
        $('#sort-selector').change(function () {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}