{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Individual product area -->
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top product-image" src="{{ MEDIA_URL }}shop-kbeauty-logo.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0 h4 font-weight-bold brand-font-alt">{{ product.name }}</p>
                    <p class="mb-0 py-2">By <span class="brand-font-alt h6 pb-3">{{ product.brand.friendly_name }}</span></p>
                    <small class="text-dark">{{ product.category.friendly_name }}</small>
                    {% if product.rating %}
                    <small class="text-warning float-right"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <small class="text-muted float-right"><i class="fas fa-star mr-1"></i>No Rating</small>
                    {% endif %}
                    <div class="price-box">
                        <p class="mb-0 pt-3 pb-1"><span class="h3 text-left font-weight-bold price-font">£{{ product.price }}</span></p>
                        {% if product.discount > 0.01 %}
                        <p class="mb-0 text-left pb-3"><span class="text-danger">You save: </span> £{{ product.discount }}</p>
                        {% endif %}
                    </div>

                    <!-- Start of product description, how-to and ingredients accordion -->
                    <!-- Accordion credit: MDBootstrap.com -->
                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion mt-1" id="accordionEx1" role="tablist" aria-multiselectable="true">
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo1">
                                <a class="collapsed text-decoration-none" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                                    aria-expanded="false" aria-controls="collapseTwo1">
                                    <h5 class="mb-0 brand-font-alt h6">
                                        Description <span class="float-right"><i class="fas fa-angle-down rotate-icon"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                                data-parent="#accordionEx1">
                                <div class="card-body">
                                    <p class="mt-3">{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo2">
                                <a class="collapsed text-decoration-none" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
                                    aria-expanded="false" aria-controls="collapseTwo21">
                                    <h5 class="mb-0 brand-font-alt h6">
                                        How to use <span class="float-right"><i class="fas fa-angle-down rotate-icon"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
                                data-parent="#accordionEx1">
                                <div class="card-body">
                                    <p class="mt-3">{{ product.how_to_use }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingThree31">
                                <a class="collapsed text-decoration-none" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                                    aria-expanded="false" aria-controls="collapseThree31">
                                    <h5 class="mb-0 brand-font-alt h6">
                                        Ingredients <span class="float-right"><i class="fas fa-angle-down rotate-icon"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                                data-parent="#accordionEx1">
                                <div class="card-body">
                                    <p class="mt-3">{{ product.ingredients }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                    </div>
                    <!-- Accordion wrapper -->
                </div>
            </div>
        </div>
    </div>




{% endblock%}