{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" property="og:description"
        content="From serums to treatment ampoules, we offer a wide-range of affordable and leading selection of K-Beauty products for all your skincare routines. ">
    <meta name="keywords" content="Shop K-Beauty, K-beauty skincare, K-beauty hair & body products, affordable K-beauty products">

    {% comment %} Essential Meta Tags for Social Media - Facebook {% endcomment %}
    <meta property="og:title" content="{{ product.name }} | Shop K-Beauty">
    <meta property="og:type" content="product">
    <meta property="og:image" content="{{ product.image_field.url }}">
    <meta property="og:image:alt"
        content="{{ product.name }}">
    <meta property="og:url" content="https://shop-k-beauty-django-joy-zadan.herokuapp.com/products/{{ product.id }}">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} Non-Essential but Recommended Meta Tags {% endcomment %}
    <meta property="og:description"
        content="Buy {{ product.name }} at Shop K-Beauty. {{ product.description }}">
    <meta property="og:site_name" content="Shop K-Beauty">
    <meta name="twitter:image:alt"
        content="Image of {{ product.name }}. Discover our wide range of affordable and leading selection of Korean skincare and hair & body products that will
    help your skin look and feel amazing!">

    {% comment %} Non-Essential but Required for Analytics {% endcomment %}
    <meta property="fb:app_id" content="1004587674262621">
{% endblock %}

{% block extra_title %}{{product.name}} | {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4 mb-5">
        <!-- INDIVIDUAL PRODUCT AREA -->
        <div class="row">
            <!-- Product image and reviews links as buttons -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top product-image-lg" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top product-image-lg" src="{{ MEDIA_URL }}shop-kbeauty-logo-final.webp" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                <!-- DEFENSIVE PROGRAMMING: use of modal to warn users againt unintentional deletion of a product -->
                {% if request.user.is_superuser %}
                <div class="text-center">
                    <div class="container d-flex justify-content-start mt-2 mb-2">
                        <a class="btn btn-sm btn-outline-black text-shadow font-weight-bold mt-1 rounded-0 mb-3 mx-2" href="{% url 'edit_product' product.id %}">
                            Edit Product
                        </a>
                        <button class="btn btn-sm btn-red text-shadow font-weight-bold mt-1 rounded-0 mb-3 mx-2" data-toggle="modal" data-target="#modal-{{ product.id }}">Delete Product</button>
                        <!-- Start of Modal - available to superusers only -->
                        <div id="modal-{{ product.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content border-0">
                                    <div class="modal-body p-0">
                                        <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                            <div class="card-header pb-0 bg-white border-0 ">
                                                <div class="row">
                                                    <div class="col ml-auto">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Popup Message to confirm intention to delete product -->
                                                <p class="font-weight-bold text-danger mb-2">
                                                    Are you sure you want to delete this product?
                                                </p>
                                                <p class="text-purple font-weight-bold">
                                                    This product will be deleted forever if you continue. Before deleting this product, please first ensure
                                                    that it is not in the bag in order to avoid a 404 error.
                                                </p>
                                            </div>
                                            <div class="card-body px-sm-4 mb-2 pt-1 pb-0 text-center">
                                                <div class="row justify-content-end no-gutters">
                                                    <!-- Cancel action button -->
                                                    <button type="button" class="btn btn-sm btn-outline-black font-weight-bold text-shadow mt-1 rounded-0 mb-3 mx-2"
                                                        data-dismiss="modal">Cancel</button>
                                                    <!-- Delete link as button -->
                                                    <a href="{% url 'delete_product' product.id %}"
                                                        class="btn btn-sm btn-red font-weight-bold text-shadow mt-1 rounded-0 mb-3 mx-2">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Modal -->
                    </div>
                </div>
                {% endif %}
                <!-- VIEW ALL REVIEWS AND ADD A REVIEW LINKS AS BUTTONS -->
                <div class="col-12 mt-2">
                    <p class="text-purple font-weight-bold small w-75">
                        <em>Have you tried this product from {{ product.brand.friendly_name }}?
                        Share your experience with your fellow K-Beauty enthusiasts.</em>
                    </p>
                    <!-- See reviews link -->
                    {% if reviews %}
                    <a href="{% url 'reviews' product.id %}" class="btn btn-black rounded-0 text-uppercase mt-1">
                        <span class="text-uppercase">See All Reviews</span>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                    {% endif %}
                    <!-- Add a review link -->
                    <a href="{% url 'add_review' product.id %}" class="btn btn-outline-black rounded-0 mt-1">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text-uppercase">Add Review</span>
                    </a>
                </div>
            </div>
            <!-- PRODUCT DETAILS AREA -->
            <div class="col-12 col-md-6 col-lg-4 mb-1">
                <div class="product-details-container mb-5 mt-md-4">
                    <p class="mb-0 h4 font-weight-bold brand-font-alt mb-1 mt-3">{{ product.name }}</p>
                    <!-- Link to brand description -->
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 pt-2">Brand:
                                <span class="h6 pb-3 brand-font-alt brand-name-link">
                                    <a href="{% url 'brand_detail' product.brand.id %}" >
                                        <em class="brand-font-alt brand-name-link">{{ product.brand.friendly_name }}</em>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <!-- ADD WISHLIST LINK AS ICON -->
                        <div class="col pt-2 pl-0">
                            <p class="text-right mb-0">
                                <span class="pr-1">Wishlist: </span>
                                <a href="{% url 'add_to_wishlist' product.id %}" aria-label="Add product to Wishlist">
                                    <i class="fas fa-heart alt-text-muted"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- Displays the category for product and links to products page, filtered by current category -->
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="alt-text-muted font-weight-bold"
                            href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-list mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <!-- Displays the subcategory for product and links to products page, filtered by current subcategory -->
                    {% if product.subcategory %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted font-weight-bold"
                            href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                            <i class="fas fa-tag"></i> {{ product.subcategory.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <!-- Displays the price of product, if discount is available, also shows original price and savings -->
                    <div class="price-box">
                        <p class="mb-0 pt-3 pb-1"><span class="h3 text-left font-weight-bold price-font">£{{ product.price }}</span></p>
                        {% if product.discount > 0.01 %}
                        <p class="mb-0"><s>£{{ product.original_price }}</s></p>
                        <p class="mb-0 text-left"><span class="text-purple"><strong>You save:</strong> </span> £{{ product.discount }}</p>
                        {% endif %}
                    </div>
                    <!-- START OF THE ORDER FORM, DISPLAYS SIZES IF THEY ARE AVAILABLE AND SHOWS THE ORDER QUANTITY BUTTON -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <!-- Product sizes box area if product has sizes -->
                            {% with product.has_sizes as s %}
                            {% if s %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                    <option value="30">30ml</option>
                                    <option value="60"selected>60ml</option>
                                    <option value="90">90ml</option>
                                </select>
                            </div>
                            {% endif %}
                            <!-- Order quantity button -->
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <!-- Decrement order quantity button -->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}" aria-label="decrement item number">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number" name="quantity" value="1"
                                            min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" aria-label="item quantity">
                                        <!-- Decrement order quantity button -->
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}" aria-label="increment item number">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Keep shopping link as button -->
                            <div class="col-12{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-2">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-2" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                        {% endwith %}
                    </form>
                    <!-- END OF ORDER FORM -->
                    <!-- START OF ACCORDION FOR PRODUCT DESCRIPTION, HOW TO USE AND PRODUCT INGREDIENTS -->
                    <!-- Accordion credit: MDBootstrap.com (https://mdbootstrap.com/docs/standard/components/accordion/) -->
                    <div class="accordion md-accordion mt-4" id="accordionEx1" role="tablist" aria-multiselectable="true">
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo1">
                                <a class="collapsed text-decoration-none" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                                    aria-expanded="false" aria-controls="collapseTwo1">
                                    <p class="mb-0 brand-font-alt h6">
                                        Description <span class="float-right"><i class="fas fa-angle-down rotate-icon"></i></span>
                                    </p>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                                data-parent="#accordionEx1">
                                <div class="card-body">
                                    <p class="mt-3">{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo2">
                                <a class="collapsed text-decoration-none" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
                                    aria-expanded="false" aria-controls="collapseTwo21">
                                    <p class="mb-0 brand-font-alt h6">
                                        How to use <span class="float-right"><i class="fas fa-angle-down rotate-icon"></i></span>
                                    </p>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="collapseTwo21"
                                data-parent="#accordionEx1">
                                <div class="card-body">
                                    <p class="mt-3">{{ product.how_to_use }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingThree31">
                                <a class="collapsed text-decoration-none" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                                    aria-expanded="false" aria-controls="collapseThree31">
                                    <p class="mb-0 brand-font-alt h6">
                                        Ingredients <span class="float-right"><i class="fas fa-angle-down rotate-icon"></i></span>
                                    </p>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="collapseThree31"
                                data-parent="#accordionEx1">
                                <div class="card-body">
                                    <p class="mt-3">{{ product.ingredients }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                    </div>
                    <!-- End of Accordion wrapper -->
                </div>
                <!-- END OF ACCORDION -->
            </div>
        </div>
        <!-- END OF INDIVIDUAL PRODUCT AREA -->
        <!-- FEATURED REVIEWS -->
        <div class="container mb-5">
            <h3 class="logo-font pt-2">
                Featured Reviews for {{ product.name }}
            </h3>
            {% if reviews %}
            <div class="row">
                {% for review in reviews %}
                    {% if review.is_featured %}
                    <div class="col-12 mt-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <!-- Review title -->
                                <h3 class="card-title brand-font-alt h6">{{ review.title }}</h3>
                                <!-- Review author -->
                                <p><small class="text-muted p-0"><em>Posted by {{ review.user }} on {{ review.date }}</em></small></p>
                                <!-- Review content -->
                                <p class="card-text">{{ review.content }}</p>
                            </div>
                            <!-- Prompts site users/ visitors to add their review if they use current product -->
                            <div class="card-footer">
                                <p class="brand-font-alt">
                                    Have you used {{ product.name }} before?
                                </p>
                                <a href="{% url 'add_review' product.id %}" class="btn btn-sm btn-black rounded-0 text-shadow">
                                    Share your experience!
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <!-- Message displays if there are no featured or available reviews -->
            <div class="col">
                <p>No featured reviews available for this product yet.</p>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- RELATED PRODUCTS -->
    <div class="featured-bg pb-5">
        <h4 class="display-4 related-products-heading text-purple pt-5 pb-3">
            Related Products
        </h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 ml-3 mr-3">
            {% for product in related_products %}
            <div class="col mb-4">
                <div class="card card-alt h-100">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top product-image img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title brand-font-alt h6 text-center">{{ product.name }}</h3>
                        <!-- Product category name -->
                        {% if product.category %}
                        <p class="small mt-2 mb-0 text-center">
                            <a class="alt-text-muted font-weight-bold"
                                href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-list"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                        <!-- Product subcategory name -->
                        {% if product.subcategory %}
                        <p class="small mt-2 mb-0 text-center">
                            <a class="text-muted font-weight-bold"
                                href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                                <i class="fas fa-tag"></i> {{ product.subcategory.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white text-center mb-2">
                        <div class="price-box mb-1">
                            <p class="h4 mb-0 pb-1"><span class="text-left brand-font">£{{ product.price }}</span></p>
                            {% if product.discount > 0.01 %}
                            <p class="mb-0"><s>£{{ product.original_price }}</s></p>
                            <p class="mb-0 text-center"><span class="text-purple"><strong>You save:</strong> </span> £{{ product.discount }}</p>
                            {% endif %}
                        </div>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-black text-shadow mt-1 rounded-0">
                            <span class="text-uppercase">Shop Now</span>
                            <span class="icon">
                                <i class="fas fa-shopping-bag"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% empty%}
            <p class="text-center brand-font">Sorry, no related products available.</p>
            {% endfor %}
        </div>
    </div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% include 'home/includes/show_hide_brands_list_script.html' %}
{% include 'home/includes/pass_data_from_backend_to_js_script.html' %}
{% endblock %}